@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply text-2xl;
    @apply font-bold;
  }
  h2 {
    @apply text-xl;
    @apply font-bold;
  }
  h3 {
    @apply text-lg;
    @apply font-bold;
  }
  input {
    outline: none;
  }
}
@layer components {
  .btn_primary {
    background-color: rgb(37, 147, 255);
    color: #fff;
    padding: 10px;
    border-radius: 6px;
    cursor: pointer;
    &:hover {
      background-color: rgba(37, 147, 255, 0.85);
    }
  }
  .btn_delete {
    background-color: #fff;
    color: rgb(156, 163, 175);
    padding: 10px;
    border-radius: 6px;
    cursor: pointer;
    &:hover {
      background-color: rgba(225, 225, 225, 0.55);
    }
  }
}
